@import url("https://fonts.googleapis.com/css2?family=Playwrite+IE:wght@100..400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


body {
  font-family: 'Roboto', system-ui, -apple-system, sans-serif;
}

.playwrite-font {
  font-family: "Playwrite IE", cursive;
}

.custom-scroll::-webkit-scrollbar {
  display: none;
}

.custom-scroll {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}
